.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

#main {
  margin-top: 6em;
}

#root {
  margin-top: 3em;
}

.App-link {
  color: #61dafb;
}

